/* General CSS Rules */
@keyframes btn-main {
  0% {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}

@keyframes car {
  0% {
    transform: translateX(-13rem) scale(0.9);
    -webkit-transform: translateX(-13rem) scale(0.9);
    -moz-transform: translateX(-13rem) scale(0.9);
    -ms-transform: translateX(-13rem) scale(0.9);
    -o-transform: translateX(-13rem) scale(0.9);
  }
  100% {
    transform: translateX(11rem) scale(1);
    -webkit-transform: translateX(11rem) scale(1);
    -moz-transform: translateX(11rem) scale(1);
    -ms-transform: translateX(11rem) scale(1);
    -o-transform: translateX(11rem) scale(1);
  }
}
@media (max-width: 1199.98px) {
  @keyframes car {
    0% {
      transform: translateX(-12rem) scale(0.9);
      -webkit-transform: translateX(-12rem) scale(0.9);
      -moz-transform: translateX(-12rem) scale(0.9);
      -ms-transform: translateX(-12rem) scale(0.9);
      -o-transform: translateX(-12rem) scale(0.9);
    }
    100% {
      transform: translateX(10.25rem) scale(1);
      -webkit-transform: translateX(10.25rem) scale(1);
      -moz-transform: translateX(10.25rem) scale(1);
      -ms-transform: translateX(10.25rem) scale(1);
      -o-transform: translateX(10.25rem) scale(1);
    }
  }
}
@media (max-width: 767.98px) {
  @keyframes car {
    0% {
      transform: translateX(-10.5rem) scale(0.9);
      -webkit-transform: translateX(-10.5rem) scale(0.9);
      -moz-transform: translateX(-10.5rem) scale(0.9);
      -ms-transform: translateX(-10.5rem) scale(0.9);
      -o-transform: translateX(-10.5rem) scale(0.9);
    }
    100% {
      transform: translateX(9rem) scale(1);
      -webkit-transform: translateX(9rem) scale(1);
      -moz-transform: translateX(9rem) scale(1);
      -ms-transform: translateX(9rem) scale(1);
      -o-transform: translateX(9rem) scale(1);
    }
  }
}
@media (max-width: 575.98px) {
  @keyframes car {
    0% {
      transform: translateX(-8.75rem) scale(0.9);
      -webkit-transform: translateX(-8.75rem) scale(0.9);
      -moz-transform: translateX(-8.75rem) scale(0.9);
      -ms-transform: translateX(-8.75rem) scale(0.9);
      -o-transform: translateX(-8.75rem) scale(0.9);
    }
    100% {
      transform: translateX(7.75rem) scale(1);
      -webkit-transform: translateX(7.75rem) scale(1);
      -moz-transform: translateX(7.75rem) scale(1);
      -ms-transform: translateX(7.75rem) scale(1);
      -o-transform: translateX(7.75rem) scale(1);
    }
  }
}

/* Footer Section */
@keyframes logo-light {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
